h1 {

}

head{

}

header {

}

body {
    display: flex;
    justify-content: center;
    margin-top: auto, auto, auto, auto;
    padding: 20px;

}

.icons {

    
}
#img smlogo {

}

#img insta {

}


#img smic {

}


#img pint {

} 

#img prt {

} 


#img rss {

} 

#img twit  {

} 


title choc {

}

#img choco {

} 

#img hr {

}

#img list {

}

#img logo {

} 

#img preview {

} 

#img van {

}

footer {


}